*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background-color: #120f25;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -50px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -30px;
    bottom: -80px;
}

form {
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    filter: blur(0.2px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    transition: .5s ease-in-out;
}

form h1 {
    font-size: 35px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    color: gold;
}


label {
    text-align: center;
    display: block;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

input {
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: aqua;
}

::placeholder {
    color: #e5e5e5;
    text-align: center;
    font-size: 18px;
}

::placeholder:first-of-type {
    color: red
}

button {
    margin-top: 30px;
    width: 80%;
    margin-left: 40px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    opacity: .6;
}

button:active {
    transform: scale(.9, .9) translateY(-10%);
}

.error {
    margin-top: 5px;
    text-align: center;
    color: red;
}